<?xml version="1.0" encoding="UTF-8"?>
<!-- memberMapper.xml -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.koreate.mapper.MemberMapper">
	<insert id="insertMember" parameterType="net.koreate.db_test.vo.MemberVO">
		INSERT INTO tbl_member
		VALUES(#{userid},#{userpw},#{username},now(),now())
	</insert>
	<!-- parameterType="java.lang.String -->
	<select id="readMember" parameterType="String" resultType="member">
		SELECT * FROM tbl_member WHERE userid = #{userid}
	</select>
	<!-- parameterType="java.util.Mpa -->
	<select id="readWithPass" parameterType="Map" resultType="member">
		SELECT * FROM tbl_member WHERE userid = #{id} AND userpw = #{pw}
	</select>
	<select id="memberList" resultType="member">
		SELECT * FROM tbl_member ORDER BY regdate DESC
	</select>
	
</mapper>